@model StationaryHouse.Models.Stationery

@{
    ViewData["Title"] = "Details";
}

<h1 class="heading text-center"> Stationery Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StationeryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StationeryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubCategory.SubCategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StationeryID">Edit</a> |
    <a asp-action="Index">All Stationery Items</a>
</div>
